:root {
    padding: 0;
    margin: 0;
}
.title {
    text-align: center;
}
.screen {
    width: 50%;
    height: 50vh;
    margin: 25vh auto;
}
.wrapper {
    max-height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background: url('/src/img/new-york.jpg') no-repeat center/contain;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, 30px);
    grid-template-rows: repeat(auto-fit, 30px);
}
.circle-item {
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    /* border-radius: 30%; */
    background: rgba(255, 255, 255, 0.979);
}
.red {
    background-color: rgba(175, 0, 0, 0.637);
}
.transparent {
    background: none;
}